#lhnHelpOutCenter div.lhnWindow-header {
  background-color: $proxy-blue-light;
  border-radius: 0;
  h3 {
    font-family: $raleway;
    text-transform: uppercase;
    font-weight: 500;
    font-size: .9rem;
    letter-spacing: 2px;
  }
}
#lhnHelpOutCenter button.lhnFormButton,
#lhnHelpOutCenter button.form_submit {
  background-color: $proxy-blue-light;
  font-weight: 300;
  letter-spacing: 2px;
  border-radius: 0;
}
#lhnHelpOutCenter button.lhnFormButton:hover,
#lhnHelpOutCenter button.form_submit:hover {
  background-color: $proxy-blue;
}
#lhnHelpOutCenter div.lhnWindow-tabs li {
  letter-spacing: 2px;
  font-weight: 400;
}
#lhnHelpOutCenter div.lhnWindow-tabs li:first-child,
#lhnHelpOutCenter div.lhnWindow-tabs li:last-child {
  border-radius: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
#lhnHelpOutCenter div.lhnWindow-footer a {
  color: $proxy-blue;
}
