$headerHeight: 107px;

body {
  transition: background-color .2s linear;
  p {
    margin: 0 0 1em;
  }
}
header, footer {
  z-index: 11;
  a, a:visited {
    text-decoration: none;
    color: white;
  }
}

input:focus, textarea:focus {
  outline: none!important;
  box-shadow: none!important;
}

.bg-centered {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

/*---------------------------*\
  Full page
\*---------------------------*/

.fp-slidesNav {
  ul li {

  }
}
#fp-nav {
  display: none;
  ul li {
    display:none!important;
    &:nth-child(1),
    &:nth-child(4),
    &:nth-child(8),
    &:last-of-type {
      display: block!important;
    }
    .fp-tooltip.right {
      color: $proxy-blue;
      right: 100%;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: .75rem;
    }
  }
}
.proxy-pdf-links {
  display: flex;
  justify-content: space-between;
  figure {
    margin: 0 10px;
    img {
      box-shadow: 0 0 5px rgba(0,0,0,.2);
    }
  }
}
.proxy-button {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: $proxy-blue-light;
  color: white;
  text-transform: uppercase;
  border-radius: 20px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  &::after {
    content:'';
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    margin-left: 8px;
    padding: 3px;
    width: 8px;
    height: 8px;
    transform: rotate(-45deg);
  }
  &:active, &:visited {
    color: white;
  }
}
.section {
  min-height: 100%;
  position: relative;
  &#section-our-process {
    .section-content-item.section-content-1 {
      font-size: 1.2em;
    }
  }
  .section-content-wrapper {
    position: relative;
    .section-content-item {
      text-align: center;
      &.section-content-2 {
        padding-top: 0px;
        text-align: center;
        h1 {
          text-align: center;
        }
        ul {
          list-style-type: none;
          padding: 0 0 20px 0;
          column-count: 2;
          li {
            padding: 5px 0;
            font-size: 1.1em;
            text-align: left;
          }
        }
      }
    }
  }
  .financial-page-container .proxy-section .proxy-section-content .proxy-section-logo {
    display: block;
    opacity: 1;
    width: 240px;
  }
  .section-background-container{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    .image-cover, .section-background-image {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      position: absolute;
    }
    .section-background-image {
      opacity: .3;
    }
  }
  .section-wrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding-top: 86px;
    h1 {
      font-size: 1.2em;
      line-height: 1em;
      margin: 0;
      position: relative;
      width: 100%;
      text-align: center;
    }
  }
  &:not(.first-section) {
    .section-wrapper {
      padding-top: 51px;
    }
  }
  &.first-section.section-forty-sixty {
    padding: 30px 0 20px;
  }
  &.section-three-rows {
    .section-content-wrapper {
      padding-top: 20px;
    }
  }
  .bottom-row-images {
    width: 90%;
    margin: 0 auto;
    padding-top: 30px;
    .bImg-wrapper {
      position: relative;
      width: 100%;
      margin-bottom: 35px;
      .bImg-container {
        height: 0;
        padding-bottom: 70%;
        position: relative;
        .bImg-title {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          transform: translateY(-50%);
          z-index: 2;
          text-align: center;
          h2 {
            margin: 0;
            color: white;
            background-color: $proxy-blue-light;
            display: inline-block;
            padding: 5px 10px;
            font-size: 1rem;
          }
        }
      }
      &[img-count="1"]{
        padding-bottom: 40px;
        .bImg-container {
          min-height: 0;
          height: 0;
          max-width: 960px;
          padding-bottom: 56.25%;
          margin: 0 auto;
          .bImg {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-size: contain;
          }
        }
      }
      .bImg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
    }
  }

  &.section-two-columns {
    padding: 30px 0 60px;
  }
}

.subsection-list {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  padding: 30px 0;
}
// Subsection block type
.subsection-blocks {
  max-width: 1440px;
  margin: 0 auto;
  flex: 1;
  height: 100%;
  width: 90%;
  .subsection {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .subsection-image-title {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .subsection-image {
    position: relative;
    width: 150px;
    height: 150px;
    background-size: contain;
  }
  h3 {
    margin: 20px 0 0;
    transition: all .2s linear;
  }
  .subsection-content-inner {
    width: 100%;
    height: 100%;
    flex: 1;
  }
  .subsection-container {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 30px;
    .subsection-content {
      padding: 15px 15px;
    }
  }
  .subsection-content-text {
    z-index: 2;
    position: relative;
    opacity: 0;
    transition: all .2s linear;
    ul {
      margin: 0;
      list-style-type: none;
      padding: 0;
      li {
        font-size: 1.2em;
        text-align: center;
        padding: 4px 0;
      }
    }
  }
  .subsection {
    width: 100%;
    margin: 10px 0;
    position: relative;
    &:hover {
      .subsection-image {
        opacity: 0;
      }
      h3 {
        opacity: 0;
      }
      .subsection-content-text {
        opacity: 1;
      }
    }
  }
}
.subsection-list {
  .subsection {
    margin-bottom: 20px;
  }
  .subsection-content-inner {
    width: 100%;
  }
  .subsection-content {
    h3 {
      color: white;
      background-color: $proxy-blue-light;
      display: inline-block;
      height: 40px;
      display: inline-flex;
      align-items: center;
      border-radius: 20px;
      padding: 0 20px;
      margin: 0;
    }
    .subsection-content-text {
      background-color: $proxy-lighter-grey;
      padding: 10px 18px 1px;
      margin-left: 30px;
      border-radius: 30px;
      border-top-left-radius: 0;
    }
  }
}
.section-content-item {
  width: 90%;
  margin: 0 auto;
}
.section-content-item, .subsection-infographic {
  ul {
    margin: 0;
    padding: 0 0 0 20px;
  }
  h1 {
    text-transform: uppercase;
    font-size: 1.2rem!important;
    font-weight: 600;
    margin-bottom: 15px!important;
    display: inline-block;
  }
}
.subsection-content-inner {
  margin: 0 auto;
  position: relative;
  // h1 {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   transform: translateY(calc(-100% - 30px));
  // }
}
.subsection-infographic {
  padding-bottom: 20px;
  width: 100%;
  flex: 1;
  // background-color: $proxy-lighter-grey;
  // border-top: 2px solid $proxy-blue;
  .subsection-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .subsection {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    @media only screen and (max-width: 1100px)  {
      width: calc(100% / 3)!important;
      margin-bottom: 30px;
    }
    @media only screen and (max-width: 43em)  {
      width: 50%!important;
    }
    @media only screen and (max-width: 31em)  {
      width: 100%!important;
      margin-bottom: 10px;
      align-items: flex-start;
      &:nth-child(2n + 2) {
        text-align: right;
        align-items: flex-end;
      }
    }
    .subsection-number {
      color: $proxy-blue;
      font-size: 1.5rem;
      font-weight: 600;
      border-bottom: 2px solid $proxy-blue;
    }
    .subsection-content {
      display: flex;
      flex-direction: column;
      h3, p {
        margin: 0;
      }
      h3 {
        text-transform: uppercase;
        font-size:.9rem;
        font-weight: 600;
        white-space: nowrap;
      }
      p {
        font-size: .9rem;
      }
    }
  }
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height:100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 9;
}

#fullpage {
  opacity: 1;
  transition: opacity .3s linear;
  &.hidden {
    opacity: 0;
    .loader {
      display: flex;
    }
  }
  .section {
    &.fp-auto-height {
      .section-wrapper:first-of-type {
        min-height: 100vh;
      }
    }
  }
  #section-contact-us {
    display: none;
  }
}

#page {

}

/*---------------------------*\
  Header
\*---------------------------*/

.site-header {
  position: fixed;
  top: 0;
  right: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 9;
  background-color: white;
  box-shadow: 0px 0px 8px rgba(0,0,0,.3);
  transition: all .2s linear;
  padding: 10px 0;
  .header-logo-container {
    width: 100px;
    height: auto;
    .header-text {
      width: 80%;
      margin: 10px auto 0;
    }
    svg {
      width: 100%;
      height: auto;
    }
  }
}
.fp-viewing-proxy-financial {
  .site-header {
    background-color: transparent;
    box-shadow: none;
  }
}
.fp-viewing-our-purpose {
  background-color: #EBEBEB;
}
.menu-overlay {
  z-index: 10;
  height: 100vh;
  top: 0;
  left: 0;
  opacity: 0;
  transition: transform .2s ease-in-out;
  transform: translateX(-100%);
  background-color: $proxy-blue;
  opacity: 1;
  width: auto;
  position: fixed;
  pointer-events: auto;
  .main-navigation {
    height: 100%;
  }
  .menu-container {
    padding: 40px 15px 30px;
    height: 100%;
    #anchor-menu {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      &> li {
        ul {
          display: block;
          padding-top: 5px;
          li {
            text-align: center;
            padding: 3px 0;
            opacity: 0;
            transition: all .4s ease-in-out;
            transform: translateX(-10px);
          }
        }
        &:hover {
          ul li {
            opacity: 1;
            transform: translateX(0);
          }
        }
      }
    }
    ul {
      li {
        display: block;
        a {
          text-transform: uppercase;
          font-size: .75rem;
        }
        &.menu-icon {
          a {
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
              width: 40px;
              height: auto;
              margin-bottom: 16px;
            }
          }
        }
      }
    }
  }
}
#language-toggle {
  position: absolute;
  right: 5px;
  top: 15px;
  .language-chooser {
    display: flex;
    padding: 0;
    margin: 0 5px;
    height: auto;
    line-height: 1em;
    list-style-type: none;
    li {
      display: block;
      opacity: .5;
      transition: all .2s linear;
      &.active {
        opacity: 1;
      }
      &:not(.active):hover {
        transform: scale(1.15);
        opacity: 1;
      }
    }
  }
  .qtranxs_flag_and_text {
    width: 25px;
    height: 25px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    margin: 0 5px;
    span {
      display: none;
    }
  }
  .qtranxs_flag_en {
    background-image: url('../images/en.png');
  }
  .qtranxs_flag_pt {
    background-image: url('../images/pt.png');
  }
}
.menu-toggle {
  width: 28px;
  height: 20px;
  cursor: pointer;
  position: fixed;
  left: 20px;
  top: 22px;
  z-index: 11;
  .menu-toggle-line {
    width: 100%;
    height: 2px;
    background-color: $proxy-blue;
    position: absolute;
    top: 0;
    left: 0;
    &::before, &::after {
      content: '';
      width: 100%;
      height: 2px;
      background-color: $proxy-blue;
      position: absolute;
      top: 8px;
      left: 0;
      transition: all .2s linear;
    }
    &::after {
      top: 16px;
    }
  }
}

body.menu-active {
  .menu-overlay {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0%);
    @media only screen and (max-device-width:769px) {
      .menu-container {
        #anchor-menu {
          &> li {
            a img {
              width: 30px;
            }
            ul {
              padding-top: 6px;
              li {
                padding: 4px 0;
                opacity: 1;
                transform: translateX(0px);
              }
            }
          }
        }
      }
    }
  }
  .menu-toggle-line {
    background-color: transparent;
    &::before {
      //transition-delay: .2s;
      background-color: white;
      transform: rotate(45deg);
    }
    &::after {
      background-color: white;
      transform: rotate(-45deg);
      top: 8px;
    }
  }
}

.social-icon {
  height: 18px;
  width: auto;
  transition: transform .2s linear;
  &:hover {
    transform: scale(1.15);
  }
  svg, a, g {
    height: 100%;
    width: auto;
  }
}

/*---------------------------*\
  Home
\*---------------------------*/

.content-inner {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
.full-width-page {
  width: 100%;
  .page-content {
    margin-top: 0;
    text-align: center;
  }
  .two-columns-container {
    display: flex;
    flex-direction: column-reverse;
    padding: 30px 0;
  }
  .page-header-wrapper {
    text-align: center;
    .page-header-text {
      background-color: $proxy-blue;
      padding: 5px 0;
      color: white;
      h2 {
        font-size: 1.1rem;
      }
    }
    h1, p {
      margin: 0;
      font-size: 1.2rem;
    }
    .hero-image {
      width: 100%;
      height: 56.25vw;
      border-bottom: 2px solid $proxy-blue;
    }
  }
}
.home-icons {
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap;
  padding: 30px 0 50px;
  a {
    text-decoration: none;
    transition: all .2s linear;
    transform: rotate(.01deg);
    display: block;
    &:hover {
      transform: scale(1.05);
    }
  }
  .home-icon-wrapper {
    padding: 0 15px;
    width: 50%;
    margin-bottom: 30px;
    .home-icon {
      width: 60px;
      height: 60px;
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      margin: 0 auto;
    }
  }
  h3 {
    font-size: .85rem;
    text-transform: uppercase;
    color: $proxy-blue;
    text-align: center;
    font-weight: bold;
    margin-bottom: 0;
  }
}

/*---------------------------*\
  Sections
\*---------------------------*/

.connect-flower {
  color: $proxyfin-black;
  font-weight: 600;
  &:active, &:visited {
    color: $proxyfin-black;
  }
}
.section {
  .section-wrapper {
    padding: 80px 0 60px 0;
    .section-header-bg {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: $proxy-lighter-grey;
      display: none;
      &:before {
        content: '';
        width: 50%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: $proxy-blue;
      }
    }
    .section-title {
      text-transform: uppercase;
      color: white;
      background-color: $proxy-blue;
      letter-spacing: 2px;
      font-size: 1rem;
      position: relative;
      padding: 10px;
    }
    .section-excerpt {
      background-color: $proxy-lighter-grey;
      padding: 15px 15px 5px;
      position: relative;
      ul {
        margin: 0;
        padding: 0 0 15px 20px;
      }
    }
  }
  .two-columns-container {
    .page-section-column {
      .proxy-landing-logo {
        width: 60%;
        max-width: 280px;
        margin: 0 auto;
      }
    }
  }
}

/*---------------------------*\
  Page 1 (Proxy Financial)
\*---------------------------*/


.financial-page-container {
  height: 100%;
  width: 100%;
  .section-header {
    max-width: 960px;
    margin: 0 auto;
    padding: 30px 0;
    text-align: center;
  }
  .proxy-logos-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
  }
  .proxy-section {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &:first-of-type {
      padding-bottom: 30px;
    }
    .proxy-section-content {
      text-align: center;
      position: relative;
      width: 100%;
      .proxy-section-logo {
        display: none;
        width: 180px;
        margin: 30px auto 30px;
        opacity: 0;
        transition: all .4s linear;
        transform: translateY(-20px);
        svg {
          width: 100%;
          height: auto;
          path {
            fill: $proxy-blue;
          }
        }
      }
      h1 {
        font-size: 1.5rem;
        font-weight: 500;
        color: $proxy-blue;
      }
      .proxy-section-links {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        opacity: 1;
        transition: all .4s linear;
        position: relative;
        width: 100%;
        a {
          text-decoration: none;
          color: $proxy-blue-light;
          padding: 5px 0;
          font-weight: 400;
          text-transform: uppercase;
          transition: all .3s linear;
          &:nth-child(2) {
            transition-delay: .1s;
          }
          &:nth-child(3) {
            transition-delay: .3s;
          }
        }
      }
    }
  }
}

.home-logo {
  margin: 0 auto;
  height: auto;
  width: 90%;
  svg {
    height: auto;
    width: 100%;
  }
}
svg {
  display: block;
}

/*---------------------------*\
  Team Page
\*---------------------------*/

#team-wrapper {
  padding: 40px 0;
  h1 {
    font-size: 2rem;
    text-align: center;
  }
}
.team-container {
  display: flex;
  flex-wrap: wrap;
  .team-member-container {
    .member-image-container {
      width: 100%;
      position: relative;
      flex-shrink: 1;
      align-items: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      .member-image {
        width: 100%;
        height: 0;
        padding-bottom: calc(100% - 4px);
        border: 2px solid $proxy-blue-light;
        border-radius: 50%;
        flex-shrink: 0;
      }
      .member-info {
        text-align: center;
        padding: 10px 0;
        h3 {
          margin: 0;
          font-size: 1rem;
        }
        span {
          text-transform: uppercase;
          letter-spacing: 1px;
          font-size: .65rem;
          font-weight: 300;
          margin-top: 5px;
          display: block;
        }
      }
    }
  }
}

#team-secondary-container {
  margin-top: 5px;
  justify-content: center;
  .team-member-container {
    width: 50%;
    max-width: 200px;
    padding: 0 10px;
    margin-bottom: 20px;
    .member-image-container {
      .member-info {
        .member-name {
          font-size: 1rem;
        }
      }
    }
  }
}

#team-primary-container {
  margin-top: 30px;
  .team-member-container {
    width: 50%;
    max-width: 300px;
    padding: 0 10px;
    margin-bottom: 15px;
    .member-image-container {
      .member-info {
        .member-name {
          font-size: 1rem;
        }
      }
    }
  }
}

/*---------------------------*\
  About
\*---------------------------*/

.fp-controlArrow {
  width: auto!important;
  height: auto!important;
  font-size: 1.4em;
  border: none!important;
  position: relative!important;
  top: auto!important;
  &.fp-next {
    &:after {
      content: ' >';
    }
  }
  &.fb-prev {
    &:before {
      content: '<';
    }
  }
}

.next-page-down {
  text-align: center;
  .next-page-button-container {
    display: inline-block;
    .next-page-button {
      display: flex;
      flex-direction: column;
      cursor: pointer;
    }
  }
  span {
    font-size: 1.3em;
    position: relative;
  }
  .next-page-arrow{
    margin: 0 auto;
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 8px;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
  }
}

/*---------------------------*\
  Contact
\*---------------------------*/

#section-contact {
  position: relative;
  input {
    height: 40px;
    border-radius: 0;
    border: 2px solid $proxyfin-black;
    transition: transform .2s linear;
    &:focus {
      transform: scale(1.05);
    }
  }
  textarea {
    border-radius: 0;
    border: 2px solid $proxyfin-black;
    transition: transform .2s linear;
    &:focus {
      transform: scale(1.01);
    }
  }
}

/*---------------------------*\
  Pages
\*---------------------------*/

#page-header {
  padding-bottom: 30px;
  h1, h2, h3, h4, h5, h6 {
  }
}

/*---------------------------*\
  Footer
\*---------------------------*/

footer.site-footer {
  position: fixed;
  width: 100%;
  padding: .75em 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: 9;
  transition: all .2s linear;
  transform: translateY(100%);
  pointer-events: none;
  background-color: rgba(255,255,255,.4);
  //border-top: 2px solid $proxy-blue;
  box-shadow: 0px 0px 4px rgba(0,0,0,.3);
  #footer-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    #contact-info-wrapper {
      width: 100%;
    }
    #contact-info {
      display: flex;
      font-weight: 500;
      pointer-events: auto;
      flex-direction: column;
      position: relative;
      text-align: center;
      #connect-icons {
        pointer-events:none;
        text-align: center;
        position: absolute;
        width: 100%;
        bottom: 100%;
        #live-chat-button {
          position: absolute;
          width: 100%;
          text-align: center;
          bottom: 100%;
          cursor: pointer;
          transition: all .2s linear;
          transform: translateY(10px);
          opacity: 0;
          display: block;
          @media only screen and (min-width: 31em)  { // 496px
            padding-bottom: 8px;
          }
          a {
            display: inline-flex;
          }
          .live-chat-icon {
            width: 36px;
            height: auto;
            padding: 8px 5px;
            border-right: 1px solid white;
            background-color: $proxy-blue-light;
            flex-shrink: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            svg {
              width: 80%;
              height: auto;
            }
          }
          span {
            display: flex;
            align-items: center;
            padding: 0 10px;
            background-color: $proxy-blue-light;
            color: white;
            text-transform: uppercase;
            font-size: .8em;
          }
        }
        .connect-icons-row {
          display: flex;
          justify-content: center;
          .connect-button {
            white-space: nowrap;
          }
        }
        .connect-button {
          margin: 6px 2px 8px;
          opacity: 0;
          @media only screen and (min-width: 31em)  { // 496px
            margin: 6px 8px 8px;
          }
          a {
            font-size: .6rem;
            font-weight: 500;
            text-transform: uppercase;
            background-color: $proxy-blue-light;
            padding: 4px 3px 3px;
            color: white;
            letter-spacing: 2px;
            border: 1px solid $proxy-blue-light;
          }
          &:nth-child(2) {
            a {
              background-color: white;
              color: $proxy-blue-light;
            }
          }
        }
        a {
          color: $proxy-blue-light;
        }
        #live-chat-button{
          color: $proxy-blue-light
        }
      }
      .row-1 {
        display: flex;
        justify-content: center;
        .social-icons {
          display: flex;
          align-items: center;
          .social-icon {
            margin: 0 4px;
            opacity: 0;
            a {
              display: block;
              overflow: visible;
              transition: transform .2s ease-in-out;
              &:hover {
                transform: scale(1.1);
              }
            }
            a {
              display: flex;
              align-items: center;
            }
          }
        }
      }
      .connect-flower-toggle {
        color: $proxy-blue;
        text-transform: uppercase;
        margin: 0 10px;
        letter-spacing: 4px;
        font-weight: 500;
        font-size: .9rem;
      }
      &:hover, &.active { // When hovering over connect box
        .social-icons .social-icon {
          animation-name: bounceIn;
          animation-duration: 450ms;
          animation-timing-function: linear;
          animation-fill-mode: forwards;
          &.social-icon-2 {
            animation-delay: .15s;
          }
          &.social-icon-3 {
            animation-delay: .3s;
          }
        }
        #connect-icons {
          pointer-events: auto;
          .connect-button {
            animation-name: bounceInSlow;
            animation-duration: 350ms;
            animation-timing-function: linear;
            animation-fill-mode: forwards;
            animation-delay: .3s;
            &:nth-child(2) {
              animation-delay: .15s;
            }
          }
          #live-chat-button {
            transition-delay: .5s;
            opacity: 1;
            transform: translateY(0px);
          }
        }
      }
    }
  }
  h2 {
    margin: 0;
    line-height: 1em;
    opacity: 0;
    transition: opacity .3s linear;
  }
  .footer-gradient {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: .8;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+61,ffffff+100&0+0,0.68+53,1+100 */
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.68) 53%, rgba(255,255,255,0.73) 61%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.68) 53%,rgba(255,255,255,0.73) 61%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.68) 53%,rgba(255,255,255,0.73) 61%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  }
}
#book-meeting-wrapper {
  position:  fixed;
  bottom: 50px;
  left: 50px;
  background-color:  white;
  height: auto;
  max-width: 320px;
  display: none;
  box-shadow: 0 0 5px rgba(0,0,0,.3);
  z-index: 10;
  #book-meeting-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  #book-meeting-container {
    position: relative;
    height: calc(100% - 50px);
    #book-meeting-links {
      padding: 30px;
    }
    .book-meeting-link {
      display: block;
      text-transform: uppercase;
      font-size: .8rem;
      text-decoration: none;
      padding: 10px 0;
      color: $proxy-blue;
      font-weight: 600;
    }
  }
  #book-meeting-content-header {
    font-size: 1.1rem;
    font-weight: 400;
    padding: 15px 15px;
    background-color: #EBEBEB;
  }
  #book-meeting-header {
    background-color: $proxy-blue;
    position: relative;
    #book-meeting-header-content {
      display: flex;
      justify-content: space-between;
      padding: 15px 12px 11px;
    }
    #close-book-meeting {
      width: 18px;
      height: 18px;
      position: relative;
      cursor: pointer;
      &::after, &::before {
        content: '';
        width: 100%;
        height: 2px;
        background-color: white;
        position: absolute;
        top: 50%;
        left: 0;
      }
      &::before {
        transform: translateY(-50%) rotate(-45deg);
      }
      &::after {
        transform: translateY(-50%) rotate(45deg);
      }
    }
    h3 {
      text-transform: uppercase;
      color: white;
      font-size: 1rem;
      margin: 0;
    }
  }
}
#live-chat-wrapper {
  position:  fixed;
  bottom: 50px;
  right: 50px;
  background-color:  white;
  height: 400px;
  display: none;
  box-shadow: 0 0 5px rgba(0,0,0,.3);
  z-index: 10;
  #live-chat-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  #live-chat-container {
    position: relative;
    height: calc(100% - 50px);
    #live-chat-loader {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  #live-chat-header {
    background-color: $proxy-blue;
    position: relative;
    #live-chat-header-content {
      display: flex;
      justify-content: space-between;
      padding: 15px 12px 11px;
    }
    #close-live-chat {
      width: 18px;
      height: 18px;
      position: relative;
      cursor: pointer;
      &::after, &::before {
        content: '';
        width: 100%;
        height: 2px;
        background-color: white;
        position: absolute;
        top: 50%;
        left: 0;
      }
      &::before {
        transform: translateY(-50%) rotate(-45deg);
      }
      &::after {
        transform: translateY(-50%) rotate(45deg);
      }
    }
    h3 {
      text-transform: uppercase;
      color: white;
      font-size: 1rem;
      margin: 0;
    }
  }
  #live-chat-options-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    overflow: auto;
    #live-chat-options-header {
      font-size: 1.1rem;
      font-weight: 400;
      padding: 15px 15px;
      background-color: #EBEBEB;
    }
    #live-chat-options {
      padding: 15px;
    }
    .live-chat-option {
      padding: 10px 10px 10px 0;
      &:not(:last-of-type) {
        border-bottom: 1px solid rgba(0,0,0,.5);
      }
      a, .live-chat-offline {
        display: flex;
        width: 100%;
        justify-content: space-between;
        font-weight: 500;
        color: $proxyfin-black;
        text-decoration: none;
        text-transform: uppercase;
        font-size: .75rem;
        font-weight: 600;
        span {
          font-size: .75rem;
          font-weight: 600;
          color: $proxyfin-black;
          position: relative;
          text-decoration: none;
          margin-left:25px;
          &::before {
            content: '';
            position: absolute;
            right: calc(100% + 8px);
            top: 4px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            border: 1px solid crimson;
            background-color: red;
            box-shadow: 0 0 5px red;
          }
        }
      }
      a span::before {
        border: 1px solid green;
        background-color: limegreen;
        box-shadow: 0 0 5px limegreen;
      }
    }
  }
  iframe {
    position: relative;
    width: auto;
    height: 100%;
    border:none;
  }
}
body.live-chat-active {
  #live-chat-wrapper {
    display: block;
  }
}
.liveAgentChatElement.liveAgentEndButton {
  background-color: black!important;
}
.fp-viewing-our-purpose {
  footer.site-footer {
    .footer-gradient {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ebebeb+0,ebebeb+100&0+0,0.63+62,1+100 */
      background: -moz-linear-gradient(top, rgba(235,235,235,0) 0%, rgba(235,235,235,0.63) 62%, rgba(235,235,235,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(235,235,235,0) 0%,rgba(235,235,235,0.63) 62%,rgba(235,235,235,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(235,235,235,0) 0%,rgba(235,235,235,0.63) 62%,rgba(235,235,235,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ebebeb', endColorstr='#ebebeb',GradientType=0 ); /* IE6-9 */
    }
  }
}

/*---------------------------*\
  Intro
\*---------------------------*/

.intro-overlay {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $proxy-blue;
  transition: opacity .3s linear;
  .intro-logo-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .intro-logo {
      opacity: 1;
      height: auto;
      width: 80vw;
      margin: 0 auto;
      //transition: transform 1s ease-in-out;
      -webkit-transition: all 1000ms cubic-bezier(0.820, 0.110, 0.380, 0.855);
      -moz-transition: all 1000ms cubic-bezier(0.820, 0.110, 0.380, 0.855);
      -o-transition: all 1000ms cubic-bezier(0.820, 0.110, 0.380, 0.855);
      transition: all 1000ms cubic-bezier(0.820, 0.110, 0.380, 0.855); /* custom */

      -webkit-transition-timing-function: cubic-bezier(0.820, 0.110, 0.380, 0.855);
      -moz-transition-timing-function: cubic-bezier(0.820, 0.110, 0.380, 0.855);
      -o-transition-timing-function: cubic-bezier(0.820, 0.110, 0.380, 0.855);
      transition-timing-function: cubic-bezier(0.820, 0.110, 0.380, 0.855); /* custom */
      svg {
        height: auto;
        width: 100%;
        display: block;
      }
      path.logo-line {
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
        animation: dash 1.5s linear;
        animation-fill-mode: forwards;
        animation-delay: 1s;
      }
      path.middle-curve {
        animation: dash 2s linear;
        animation-fill-mode: forwards;
        animation-delay: 1.9s;
      }
      #financial-logo-proxy,
      #financial-logo-capital {
        opacity: 0;
        transition: all 1s linear;
        transform: translateY(-20px);
        transition-delay: 1.3s;
      }
      #financial-logo-capital {
        transform: translateY(-30px);
        transition-delay: 1.6s;
      }

      &.active {
        #financial-logo-proxy, #financial-logo-capital {
          opacity: 1;
          transform: translateY(0px);
        }
      }
    }
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

/*---------------------------*\
  Popup
\*---------------------------*/

#popup-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  opacity: 0;
  pointer-events: none;
  transition: opacity .2s linear;
  #popup-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,1);
    display: flex;
    justify-content: center;
    align-items: center;
    #popup-content {
      width: 90%;
      height: auto;
      max-width: 900px;
      min-width: 300px;
      background-color: white;
      display: flex;
      justify-content: flex-end;
      position: relative;
      transition: all .3s linear;
      opacity: 0;
      transform: translateY(-30px);
      transition-delay: .2s;
      #close-popup {
        width: 18px;
        height: 18px;
        position: absolute;
        top: 20px;
        right: 20px;
        display: block;
        &::after, &::before {
          content: '';
          width: 100%;
          height: 2px;
          background-color: black;
          position: absolute;
          top: 50%;
          left: 0;
        }
        &::before {
          transform: translateY(-50%) rotate(-45deg);
        }
        &::after {
          transform: translateY(-50%) rotate(45deg);
        }
      }
      #popup-image {
        width: 40%;
        display: none;
        img {
          width: 100%;
          height: auto;
          display: block;
        }
      }
      #popup-signup {
        padding: 2em 2em;
        width: 100%;
        background-color: white;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        h1 span{
          position: relative;
        }
        h1 {
          font-size: 2.2em;
          position: relative;
          margin: 0;
          &::after {
            content: '';
            position: absolute;
            bottom: 1px;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: rgb(180,180,180);
          }
        }
        form {
          display: flex;
          flex-direction: column;
          margin-top: 0;
          width: 100%;
          .jw-submit-wrapper {
            position: relative;
            .jw-submit-loader {
              pointer-events: none;
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              opacity: 0;
              .lds-default {
                transform: scale(.5);
                div {
                  background: white;
                }
              }
            }
          }
          input[type="email"] {
            padding: 7px 10px;
            border: 1px solid black;
            border-radius: 0;
            width: 100%;
            &:focus {
              outline: none;
            }
            &.error {
              outline: 2px solid red;
            }
          }
          input[type="submit"] {
            border: none;
            outline: none;
            color: white;
            background-color: black;
            border-radius: 0;
            -webkit-appearance: none;
            font-weight: 300;
            padding: 15px 20px;
            width: 100%;
            font-size: 1em;
            height: 100%;
            margin-top: 8px;
            cursor: pointer;
          }
        }
      }
    }
  }
  &.loading {
    input[type="submit"] {
      color: black!important;
    }
    .jw-submit-loader {
      opacity: 1!important;
    }
  }
}
body.signup-active {
  #popup-container {
    opacity: 1;
    pointer-events: auto;
    #popup-wrapper {
      #popup-content {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}


/*---------------------------*\
  Loaded
\*---------------------------*/

body.loaded {
  .site-footer {
    transition-delay: 2.5s;
    opacity: 1;
    transform: translateY(0);
  }
}

body.menu-active {
  .site-header {
  }
}

/*---------------------------*\
  Admin bar styles
\*---------------------------*/

.admin-bar {
  .site-header {
    padding-top: 3em;
  }
  .menu-overlay .menu-container {
    padding-top:90px;
  }
  .menu-toggle {
    top: 50px;
  }
}


#circles-backgroud {
  width: 75vh;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  overflow: visible;
  z-index: -1;
  opacity: .3;
  #circles-content {
    position: absolute;
    width: 200%;
    height: auto;
    left: 0;
    top: 0;
    animation: rotateScale 100s infinite;
    animation-timing-function: linear;
  }
  .circle-line-1 {
    animation: rotateScale 100s infinite;
    animation-timing-function: linear;
    transform-origin: center center;
    animation-fill-mode: backwards;
  }
  .circle-line-2 {
    animation: rotateScale 100s infinite;
    animation-timing-function: linear;
    transform-origin: 55% 55%;
  }
  .circle-square {
    // animation: rotateScale 100s infinite;
    // animation-timing-function: linear;
    // animation-fill-mode: backwards;
    // transform-origin: 45% 45%;
  }
}

#meeting-container {
  width: 100vw;
  height:100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  background-color: white;
  display: none;
  #meeting-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    #meeting-content {
      width: 100%;
      height: 100%;
      position: relative;
      iframe {
        width: 100%;
        height: 100%!important;
      }
      #close-meeting {
        width: 18px;
        height: 18px;
        position: absolute;
        top: 20px;
        right: 20px;
        display: block;
        &::after, &::before {
          content: '';
          width: 100%;
          height: 2px;
          background-color: black;
          position: absolute;
          top: 50%;
          left: 0;
        }
        &::before {
          transform: translateY(-50%) rotate(-45deg);
        }
        &::after {
          transform: translateY(-50%) rotate(45deg);
        }
      }
    }
  }
}

@media only screen and (min-width: 31em)  { // 496px
  body.loaded {

  }
  #fp-nav {
    display: block;
  }

  .site-header {
    .header-logo-container {
      width: 130px;
    }
  }
  #language-toggle {
    right: 8px;
    .qtranxs_flag_and_text {
      width: 30px;
      height: 30px;
    }
  }
  .section {
    .section-wrapper {
      width: 100%;
      padding-bottom: 45px;
      padding-top:103px;
      .section-title {
        font-size: 1.2rem;
        padding: 15px 10px;
      }
    }
    &:not(.first-section) {
      .section-wrapper {
        padding-top: 60px;
      }
    }
    //&.first-section {
      .section-wrapper {
        display: flex;
        flex-direction: column;
      }
    //}
    .section-content {
      height: 100%;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  .section {
    .financial-page-container {
      position: absolute;
      width: 100%;
      left: 0;
      height: calc(100vh - 60px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      .section-header {
        max-width: 960px;
        margin: 0 auto;
        width: 90%;
        text-align: center;
        h1 {
          font-size: 2.1rem;
          color: $proxy-blue;
          font-weight: 500;
          text-align: center;
          margin-bottom: 20px;
        }
      }
      .proxy-logos-holder {
        flex-direction: row;
        a {
          text-decoration: none;
        }
      }
      .proxy-section {
        width: 50%;
        height: 100%;
        padding-bottom: 0;
        &:first-of-type {
          padding-bottom: 0;
        }
        .proxy-section-content {
          .proxy-section-logo {
            display: block;
            opacity: 0;
          }
          .proxy-section-links {
            opacity: 0;
            padding-top: 0;
            transform: translateY(-20px);
            position: absolute;
            top: calc(100% + 24px);
            left: 0;
            a {
              opacity: 0;
              transform: translateY(-10px);
            }
          }
        }
        &:hover {
          .proxy-section-logo, .proxy-section-links {
            opacity: 1;
            transform: translateY(0px);
            a {
              opacity: 1;
              transform: translateY(0px);
            }
          }
        }
      }
    }
  }

  .team-container {
    justify-content: center;
    .team-member-container {
      .member-image-container {
        .member-info {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          text-align: center;
          background-color: rgba(17,53,89,.8);
          color: white;
          padding: 10px;
          opacity: 0;
          transition: opacity .2s linear;
          h3 {
            margin: 0;
            opacity: 0;
            transform: translateY(10px);
            transition: all .3s linear;
            transition-delay: .1s;
          }
          span {
            opacity: 0;
            transform: translateY(15px);
            transition: all .3s linear;
            transition-delay: .1s;
          }
        }
      }
      &:hover {
        .member-info {
          opacity: 1;
          h3 {
            opacity: 1;
            transform: translateY(0px);
          }
          span {
            opacity: 1;
            transform: translateY(0px);
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 43em) and (orientation:landscape) {
  body.loaded {
  }

  /*---------------------------*\
    Intro
  \*---------------------------*/

  .intro-overlay {
    .intro-logo-container {
      .intro-logo {
        height: 60vh;
        width: auto;
        svg {
          height: 100%;
          width: auto;
        }
      }
    }
  }
}

@media only screen and (min-width: 43em) and (orientation:portrait) {
  /*---------------------------*\
    Intro
  \*---------------------------*/

  .intro-overlay {
    .intro-logo-container {
      .intro-logo {
        height: auto;
        width: 80vw;
        svg {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

@media only screen and (min-width: 43em) { // 688px
  #team-primary-container.team-container {
    //flex-wrap: nowrap;
  }
  #team-secondary-container.team-container {
    .team-member-container {
      width: calc(100%/3);
    }
  }

  .full-width-page {
    height: 100%;
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .two-columns-container {
      flex-direction: row;
      padding: 0;
    }
    .page-content {
      height: 100%;
    }
    .page-header-wrapper {
      height: 100%;
      display: flex;
      flex-direction: column;
      flex:1;
      .page-header-text {
        flex-grow: 0;
      }
      h1, h2, p {
        font-size: 1.3rem;
        margin: 0;
      }
      .hero-image {
        flex:1;
        width: 100%;
        height: 100%;
      }
    }
  }

  .subsection-blocks {
    width: 100%;
    display: flex;
    flex-direction: column;
    .subsection {
      margin: 10px;
    }
    .subsection-content-inner {
      display: flex;
      flex-direction: column;
      .subsection-container {
        flex-direction: row;
        padding: 0 10px;
        height: 100%;
        flex: 1;
      }
    }
  }
  .subsection-infographic {
    .subsection-content-inner {
      height: 100%;
      h1 {
      }
    }
  }

  .home-icons {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding-bottom: 40px;
    .home-icon-wrapper {
      padding: 0 15px;
      margin-bottom: 0;
      .home-icon {
        width: 50px;
        height: 50px;
      }
    }
    h3 {
      font-size: .85rem;
      line-height: 1.2em;
    }
  }

  .section {
    .bottom-row-images {
      width: 100%;
      display: flex;
      max-width: 1440px;
      height: 100%;
      flex: 1;
      .bImg-wrapper {
        margin-bottom: 0;
        .bImg-container {
          height: auto;
          padding-bottom: 0;
          height: 100%;
          min-height: 250px;
        }
      }
    }
  }

}

@media only screen and (min-width: 48em) {

  .site-header {
    padding: 10px 20px;
    #header-content {
      background-color: transparent;
      padding: 0;
      justify-content: flex-end;
      .mobile-logo {
        display: none;
      }
    }
    #header-contact-info {
      display: none!important;
    }
  }
  #language-toggle {
    right: 20px;
  }
  .menu-toggle {
    left: 30px;
  }

  body.menu-active {
    .menu-toggle-line {
      &::before, &::after {
        background-color: white;
      }
    }
  }

  /*---------------------------*\
    Home > 48em
  \*---------------------------*/

  .home-logo {
    height: 60vh;
    width: auto;
    svg {
      height: 100%;
      width: auto;
    }
  }

  .home-subtitle {
    font-size: 1.8em;
  }

  /*---------------------------*\
    Team > 48em
  \*---------------------------*/

  #section-the-team {
    .section-content-item {
      width: 100%;
    }
  }
  #team-primary-container .team-member-container {
    width: 25%;
  }
  #team-secondary-container.team-container {
    .team-member-container {
      width: 25%;
    }
  }

  /*---------------------------*\
    Fullpage > 48em
  \*---------------------------*/

  #fullpage {
    .section {
      padding-top: 0;
      .section-background-container {
        width: 50%;
      }
      .section-header {
        position: relative;
        .section-header-content {
          display: flex;
          margin: 0 auto;
          max-width: 960px;
        }
        .section-title {
          font-size: 1rem;
          padding: 20px;
          display: flex;
          align-items: center;
          .section-icon {
            width: 50px;
            height: 50px;
            margin-right: 15px;
            background-position: contain;
          }
          h1 {
            font-size: 1.5rem;
            line-height: 1.7rem;
            text-align: right;
          }
        }
        .section-excerpt {
          padding: 25px 15px 10px 30px;
        }
      }
      .section-wrapper {
        .section-header-bg {
          display: block;
        }
      }
      &.section-three-rows {
        .section-wrapper {
          padding-bottom: 0;
        }
        .section-content-wrapper {
          display: flex;
          justify-content: space-between;
          margin: 0 auto;
          max-width: 960px;
          .section-content-1 {
            position: relative;
            &:after {
              content:'';
              position: absolute;
              height: 60%;
              width: 1px;
              background-color: $proxy-light-grey;
              right: 0;
              top: 20%;
            }
          }
          .section-content-item {
            padding: 30px 30px;
          }
        }
      }
      &.section-two-columns, &.section-sixty-forty, &.section-forty-sixty {
        .section-content-wrapper {
          display: flex;
          justify-content: space-between;
          margin: 0 auto;
          max-width: 960px;
          width: 90%;
          height: 100%;
          padding-top: 20px;
          flex: 1;
          .section-content-item {
            width: 50%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            &.section-content-2 {
              padding-left:30px;
            }
          }
        }
      }
      &.section-sixty-forty {
        .section-content-wrapper {
          .section-content-item {
            width: 60%;
            &:last-of-type {
              width: 40%;

              h1 {
                font-size: 1.2em!important;;
              }
            }
          }
        }
      }
      &.section-forty-sixty {
        .section-content-wrapper {
          .section-content-item {
            width: 40%;
            &:last-of-type {
              width: 60%;
            }
          }
        }
      }
      .two-columns-container {
        display: flex;
        .page-section-column {
          padding: 40px 0;
          width: 50%;
          display: flex;
          align-items: center;
        }
        .column-2 {
          width: 50%;
          .page-column-content {
            width: 90%;
            margin: 0 auto;
          }
        }
      }

      .full-width-page {
        .page-content {
          flex: 1;
          display: flex;
          align-items: center;
          flex-grow: 0;
        }
      }
    }
  }
  .subsection-content-inner {
    width: 90%;
  }

  .section {
    padding-top: 0;
    #team-wrapper {
      width: 90%;
      max-width: 1200px;
      margin: 0 auto;
    }
  }

  .financial-page-container {
    .proxy-logos-holder {
      align-items: center;
      flex-direction: row;
    }
    .proxy-section {
      .proxy-section-content {
        .proxy-section-logo {
          left: calc(50% - 140px);
          width: 280px;
        }
      }
    }
  }


  /*---------------------------*\
    Background > 48em
  \*---------------------------*/

  #popup-container {
    #popup-wrapper {
      #popup-content {
        #popup-signup {
          width: 60%;
          padding: 2em 3em 2em;
          form {
            input[type="submit"] {
              margin-left: 8px;
            }
          }
        }
        #popup-image {
          display: block;
        }
      }
    }
  }

  footer.site-footer {
    display: block;
  }
}

@media only screen and (min-width: 60em) {
  #team-secondary-container.team-container {
    flex-wrap: nowrap;
    .team-member-container {
      width: 25%;
    }
  }
}

@media only screen and (min-width: 31em) and (orientation:portrait){

  .menu-overlay .menu-container #anchor-menu {
    justify-content: flex-start;
    &>li {
      margin-bottom: 30px;
    }
    li ul {
      padding-bottom: 10px;
      text-align: center;
      li {
        opacity: 1;
        transform: translateX(0);
        padding: 8px 0;
      }
    }
  }
  #team-primary-container .team-member-container {

  }
  #team-secondary-container.team-container {
    flex-wrap: wrap;
    .team-member-container {
      width: 25%;
    }
  }
  .team-container .team-member-container .member-image-container .member-info {
    position: relative;
    opacity: 1;
    background-color: transparent;
    color: $proxyfin-black;
    h3, .member-title {
      opacity: 1;
    }
  }
  #fullpage .section .full-width-page {
    justify-content: center;
    .page-content {
      height: 100%;
    }
  }
  .section .financial-page-container .proxy-section .proxy-section-content .proxy-section-logo {
    opacity: 1;
  }
  .subsection-blocks .subsection-content-inner {
    height: auto;
    flex: 0;
    .subsection-container {
      flex-direction: column;
    }
  }
  #fullpage .section.section-three-rows .section-content-wrapper {
    height: 100%;
    flex: 1;
    flex-direction: column;
    justify-content: center;
  }
  .section .bottom-row-images .bImg-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    .bImg-container {
      height: 250px;
    }
    &[img-count="1"] .bImg-container {
      width: 100%;
    }
  }
  .section-one-row {
    .section-content {
      justify-content: flex-start;
    }
  }
}
