$proxyfin-black: rgb(60,60,60);
$proxy-blue-light: rgb(40,67,112);
$proxy-blue: rgb(0,27,47);
$proxy-light-grey: rgb(220,220,220);
$proxy-lighter-grey: rgb(240,240,240);

.lds-default {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-default div {
  position: absolute;
  width: 5px;
  height: 5px;
  background: $proxy-blue-light;
  border-radius: 50%;
  animation: lds-default 1.2s linear infinite;
}
.lds-default div:nth-child(1) {
  animation-delay: 0s;
  top: 29px;
  left: 53px;
}
.lds-default div:nth-child(2) {
  animation-delay: -0.1s;
  top: 18px;
  left: 50px;
}
.lds-default div:nth-child(3) {
  animation-delay: -0.2s;
  top: 9px;
  left: 41px;
}
.lds-default div:nth-child(4) {
  animation-delay: -0.3s;
  top: 6px;
  left: 29px;
}
.lds-default div:nth-child(5) {
  animation-delay: -0.4s;
  top: 9px;
  left: 18px;
}
.lds-default div:nth-child(6) {
  animation-delay: -0.5s;
  top: 18px;
  left: 9px;
}
.lds-default div:nth-child(7) {
  animation-delay: -0.6s;
  top: 29px;
  left: 6px;
}
.lds-default div:nth-child(8) {
  animation-delay: -0.7s;
  top: 41px;
  left: 9px;
}
.lds-default div:nth-child(9) {
  animation-delay: -0.8s;
  top: 50px;
  left: 18px;
}
.lds-default div:nth-child(10) {
  animation-delay: -0.9s;
  top: 53px;
  left: 29px;
}
.lds-default div:nth-child(11) {
  animation-delay: -1s;
  top: 50px;
  left: 41px;
}
.lds-default div:nth-child(12) {
  animation-delay: -1.1s;
  top: 41px;
  left: 50px;
}
@keyframes lds-default {
  0%, 20%, 80%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}

@keyframes bounceIn{
  0%{
    opacity: 0;
    transform: scale(0.3) translate3d(0,0,0);
  }
  50%{
    opacity: 0.9;
    transform: scale(1.1);
  }
  80%{
    opacity: 1;
    transform: scale(0.89);
  }
  100%{
    opacity: 1;
    transform: scale(1) translate3d(0,0,0);
  }
}

@keyframes bounceInSlow{
  0%{
    opacity: 0;
    transform: scale(0.3) translate3d(0,0,0);
  }
  80%{
    opacity: 1;
    transform: scale(1.1);
  }
  100%{
    opacity: 1;
    transform: scale(1) translate3d(0,0,0);
  }
}

@keyframes showMemberContent{
  0%{
    width: 0%;
  }
  100%{
    width: 100%;
  }
}

@keyframes rotateScale{
  0%{
    transform: rotate(0deg) scale(1);
  }
  25%{
    transform: rotate(90deg) scale(1.2);
  }
  50%{
    transform: rotate(180deg) scale(.8);
  }
  75% {
    transform: rotate(270deg) scale(1.1);
  }
  100%{
    transform: rotate(360deg) scale(1);
  }
}

@keyframes rotateScale{
  0%{
    transform: rotate(0deg) scale(1);
  }
  25%{
    transform: rotate(90deg) scale(1.2);
  }
  50%{
    transform: rotate(180deg) scale(.8);
  }
  75% {
    transform: rotate(270deg) scale(1.1);
  }
  100%{
    transform: rotate(360deg) scale(1);
  }
}

@keyframes rotateScale{
  0%{
    transform: rotate(0deg) scale(1);
  }
  25%{
    transform: rotate(90deg) scale(1.2);
  }
  50%{
    transform: rotate(180deg) scale(.8);
  }
  75% {
    transform: rotate(270deg) scale(1.1);
  }
  100%{
    transform: rotate(360deg) scale(1);
  }
}
