/*!
Theme Name: proxyfin
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: proxyfin
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

proxyfin is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/* normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
	 ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
	 ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
	 ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
	 ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
	 ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
	 ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
	 ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
  color: #404040;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-family: "Raleway", sans-serif;
  letter-spacing: .05em;
  font-weight: 500;
}

p {
  margin-bottom: 1.5em;
}

dfn, cite, em, i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem;
}

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark, ins {
  background: #fff9c0;
  text-decoration: none;
}

big {
  font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}

body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */
}

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

ul, ol {
  margin: 0 0 1.5em 3em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1.5em 1.5em;
}

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

figure {
  margin: 1em 0;
  /* Extra wide images within figure tags don't overflow the content area. */
}

table {
  margin: 0 0 1.5em;
  width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1;
  padding: .6em 1em .4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #ccc #bbb #aaa;
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
  border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
  color: #111;
}

select {
  border: 1px solid #ccc;
}

textarea {
  width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  color: royalblue;
}

a:visited {
  color: purple;
}

a:hover, a:focus, a:active {
  color: midnightblue;
}

a:focus {
  outline: none;
}

a:hover, a:active {
  outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
  clear: both;
  display: block;
  float: left;
  width: 100%;
}

.main-navigation ul {
  display: none;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.main-navigation ul ul {
  z-index: 99999;
}

.main-navigation ul ul ul {
  left: -999em;
  top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
  display: block;
}

.main-navigation ul ul a {
  width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
  display: block;
}

.main-navigation li {
  position: relative;
}

.main-navigation a {
  display: block;
  text-decoration: none;
  color: white;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

@media screen and (min-width: 48em) {
  .main-navigation ul {
    display: block;
  }
}

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
  table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
  margin: 0 0 1.5em;
  /* Make sure select elements fit in widgets. */
}

.widget select {
  max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
  display: block;
}

.hentry {
  margin: 0 0 1.5em;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {
  display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
  display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

.wp-caption-text {
  text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
}

.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
  max-width: 25%;
}

.gallery-columns-5 .gallery-item {
  max-width: 20%;
}

.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

.gallery-caption {
  display: block;
}

.lds-default {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-default div {
  position: absolute;
  width: 5px;
  height: 5px;
  background: #FEF200;
  border-radius: 50%;
  animation: lds-default 1.2s linear infinite;
}

.lds-default div:nth-child(1) {
  animation-delay: 0s;
  top: 29px;
  left: 53px;
}

.lds-default div:nth-child(2) {
  animation-delay: -0.1s;
  top: 18px;
  left: 50px;
}

.lds-default div:nth-child(3) {
  animation-delay: -0.2s;
  top: 9px;
  left: 41px;
}

.lds-default div:nth-child(4) {
  animation-delay: -0.3s;
  top: 6px;
  left: 29px;
}

.lds-default div:nth-child(5) {
  animation-delay: -0.4s;
  top: 9px;
  left: 18px;
}

.lds-default div:nth-child(6) {
  animation-delay: -0.5s;
  top: 18px;
  left: 9px;
}

.lds-default div:nth-child(7) {
  animation-delay: -0.6s;
  top: 29px;
  left: 6px;
}

.lds-default div:nth-child(8) {
  animation-delay: -0.7s;
  top: 41px;
  left: 9px;
}

.lds-default div:nth-child(9) {
  animation-delay: -0.8s;
  top: 50px;
  left: 18px;
}

.lds-default div:nth-child(10) {
  animation-delay: -0.9s;
  top: 53px;
  left: 29px;
}

.lds-default div:nth-child(11) {
  animation-delay: -1s;
  top: 50px;
  left: 41px;
}

.lds-default div:nth-child(12) {
  animation-delay: -1.1s;
  top: 41px;
  left: 50px;
}

@keyframes lds-default {
  0%, 20%, 80%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3) translate3d(0, 0, 0);
  }
  50% {
    opacity: 0.9;
    transform: scale(1.1);
  }
  80% {
    opacity: 1;
    transform: scale(0.89);
  }
  100% {
    opacity: 1;
    transform: scale(1) translate3d(0, 0, 0);
  }
}

@keyframes bounceInSlow {
  0% {
    opacity: 0;
    transform: scale(0.3) translate3d(0, 0, 0);
  }
  80% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1) translate3d(0, 0, 0);
  }
}

@keyframes showMemberContent {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes rotateScale {
  0% {
    transform: rotate(0deg) scale(1);
  }
  25% {
    transform: rotate(90deg) scale(1.2);
  }
  50% {
    transform: rotate(180deg) scale(0.8);
  }
  75% {
    transform: rotate(270deg) scale(1.1);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

@keyframes rotateScale {
  0% {
    transform: rotate(0deg) scale(1);
  }
  25% {
    transform: rotate(90deg) scale(1.2);
  }
  50% {
    transform: rotate(180deg) scale(0.8);
  }
  75% {
    transform: rotate(270deg) scale(1.1);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

@keyframes rotateScale {
  0% {
    transform: rotate(0deg) scale(1);
  }
  25% {
    transform: rotate(90deg) scale(1.2);
  }
  50% {
    transform: rotate(180deg) scale(0.8);
  }
  75% {
    transform: rotate(270deg) scale(1.1);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

#lhnHelpOutCenter div.lhnWindow-header {
  background-color: #284370;
}

#lhnHelpOutCenter div.lhnWindow-header h3 {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: .9rem;
  letter-spacing: 2px;
}

body {
  -webkit-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
  -ms-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

header, footer {
  z-index: 11;
}

header a, header a:visited, footer a, footer a:visited {
  text-decoration: none;
  color: white;
}

input:focus, textarea:focus {
  outline: none !important;
  box-shadow: none !important;
}

.bg-centered {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

/*---------------------------*\
  Full page
\*---------------------------*/
#fp-nav ul li .fp-tooltip.right {
  color: #001b2f;
  right: 100%;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.section {
  min-height: 100%;
}

.section .section-wrapper {
  position: relative;
  width: 90%;
  max-width: 760px;
  margin: 0 auto;
}

.section .section-wrapper h1 {
  font-size: 3em;
  line-height: 1em;
  margin: 0;
  position: relative;
}

.section.fullscreen .fp-tableCell .section-wrapper {
  width: 100%;
  height: 100vh;
  padding: 0;
}

.section.fullscreen .fp-tableCell .section-wrapper .section-content {
  height: 100%;
}

body:not(.home) .section .section-wrapper {
  padding: 3rem 0;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 9;
}

#fullpage {
  opacity: 1;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -ms-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

#fullpage.hidden {
  opacity: 0;
}

#fullpage.hidden .loader {
  display: flex;
}

#fullpage .section.fp-auto-height .section-wrapper:first-of-type {
  min-height: 100vh;
  padding-top: 4em;
}

/*---------------------------*\
  Header
\*---------------------------*/
.site-header {
  position: fixed;
  top: 0;
  right: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 9;
  background-color: white;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  padding: 10px 0;
}

.site-header .header-logo-container {
  width: 100px;
  height: auto;
}

.site-header .header-logo-container .header-text {
  width: 80%;
  margin: 10px auto 0;
}

.site-header .header-logo-container svg {
  width: 100%;
  height: auto;
}

.fp-viewing-proxy-financial .site-header {
  background-color: transparent;
  box-shadow: none;
}

.fp-viewing-our-purpose {
  background-color: #EBEBEB;
}

.menu-overlay {
  z-index: 10;
  height: 100vh;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: transform 0.2s ease-in-out;
  -moz-transition: transform 0.2s ease-in-out;
  -ms-transition: transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  background-color: #001b2f;
  opacity: 1;
  width: auto;
  position: fixed;
  pointer-events: auto;
}

.menu-overlay .main-navigation {
  height: 100%;
}

.menu-overlay .menu-container {
  padding: 50px 15px 30px;
  height: 100%;
}

.menu-overlay .menu-container #anchor-menu {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.menu-overlay .menu-container #anchor-menu > li ul {
  display: block;
  padding-top: 16px;
}

.menu-overlay .menu-container #anchor-menu > li ul li {
  text-align: center;
  padding: 6px 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: translateX(-10px);
  -moz-transform: translateX(-10px);
  -ms-transform: translateX(-10px);
  -o-transform: translateX(-10px);
  transform: translateX(-10px);
}

.menu-overlay .menu-container #anchor-menu > li:hover ul li {
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

.menu-overlay .menu-container ul li {
  display: block;
}

.menu-overlay .menu-container ul li a {
  text-transform: uppercase;
  font-size: .75rem;
}

.menu-overlay .menu-container ul li.menu-icon a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-overlay .menu-container ul li.menu-icon a img {
  width: 40px;
  height: auto;
  margin-bottom: 16px;
}

#language-toggle {
  position: absolute;
  right: 5px;
  top: 15px;
}

#language-toggle .language-chooser {
  display: flex;
  padding: 0;
  margin: 0 5px;
  height: auto;
  line-height: 1em;
  list-style-type: none;
}

#language-toggle .language-chooser li {
  display: block;
  opacity: .5;
}

#language-toggle .language-chooser li.active {
  opacity: 1;
}

#language-toggle .qtranxs_flag_and_text {
  width: 25px;
  height: 25px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  margin: 0 5px;
}

#language-toggle .qtranxs_flag_and_text span {
  display: none;
}

#language-toggle .qtranxs_flag_en {
  background-image: url("../images/en.png");
}

#language-toggle .qtranxs_flag_pt {
  background-image: url("../images/pt.png");
}

.menu-toggle {
  width: 28px;
  height: 20px;
  cursor: pointer;
  position: fixed;
  left: 20px;
  top: 17px;
  z-index: 11;
}

.menu-toggle .menu-toggle-line {
  width: 100%;
  height: 2px;
  background-color: #001b2f;
  position: absolute;
  top: 0;
  left: 0;
}

.menu-toggle .menu-toggle-line::before, .menu-toggle .menu-toggle-line::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #001b2f;
  position: absolute;
  top: 8px;
  left: 0;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.menu-toggle .menu-toggle-line::after {
  top: 16px;
}

body.menu-active .menu-overlay {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%);
}

body.menu-active .menu-toggle-line {
  background-color: transparent;
}

body.menu-active .menu-toggle-line::before {
  background-color: white;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

body.menu-active .menu-toggle-line::after {
  background-color: white;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 8px;
}

.social-icon {
  height: 18px;
  width: auto;
  -webkit-transition: transform 0.2s linear;
  -moz-transition: transform 0.2s linear;
  -ms-transition: transform 0.2s linear;
  -o-transition: transform 0.2s linear;
  transition: transform 0.2s linear;
}

.social-icon:hover {
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
  transform: scale(1.15);
}

.social-icon svg, .social-icon a, .social-icon g {
  height: 100%;
  width: auto;
}

/*---------------------------*\
  Home
\*---------------------------*/
.section .section-wrapper {
  padding: 80px 30px 60px 0;
}

.section .section-wrapper .section-title {
  text-transform: uppercase;
  color: #001b2f;
  letter-spacing: 2px;
  font-size: 1.5rem;
  display: inline-block;
  position: relative;
}

.section .section-wrapper .section-title::after {
  content: '';
  width: 120%;
  height: 2px;
  position: absolute;
  left: 0;
  top: calc(100% + 5px);
  background-color: #001b2f;
}

/*---------------------------*\
  Page 1 (Proxy Financial)
\*---------------------------*/
.financial-page-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.financial-page-container .proxy-section {
  width: 100%;
  height: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.financial-page-container .proxy-section .proxy-section-content {
  text-align: center;
  position: relative;
  width: 100%;
}

.financial-page-container .proxy-section .proxy-section-content .proxy-section-logo {
  display: none;
  width: 240px;
  position: absolute;
  bottom: calc(100% + 24px);
  left: calc(50% - 120px);
  opacity: 0;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -o-transform: translateY(20px);
  transform: translateY(20px);
}

.financial-page-container .proxy-section .proxy-section-content .proxy-section-logo svg {
  width: 100%;
  height: auto;
}

.financial-page-container .proxy-section .proxy-section-content .proxy-section-logo svg path {
  fill: #001b2f;
}

.financial-page-container .proxy-section .proxy-section-content h1 {
  font-size: 2.5rem;
  font-weight: 300;
  letter-spacing: 5px;
  color: #001b2f;
}

.financial-page-container .proxy-section .proxy-section-content .proxy-section-links {
  display: flex;
  flex-direction: column;
  opacity: 0;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  transform: translateY(-20px);
  position: absolute;
  top: calc(100% + 24px);
  width: 100%;
  left: 0;
}

.financial-page-container .proxy-section .proxy-section-content .proxy-section-links a {
  text-decoration: none;
  color: #001b2f;
  padding: 5px 0;
  font-weight: 400;
  text-transform: uppercase;
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  transform: translateY(-10px);
}

.financial-page-container .proxy-section .proxy-section-content .proxy-section-links a:nth-child(2) {
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -ms-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.financial-page-container .proxy-section .proxy-section-content .proxy-section-links a:nth-child(3) {
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -ms-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.financial-page-container .proxy-section:hover .proxy-section-logo, .financial-page-container .proxy-section:hover .proxy-section-links {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}

.financial-page-container .proxy-section:hover .proxy-section-logo a, .financial-page-container .proxy-section:hover .proxy-section-links a {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}

.home-logo {
  margin: 0 auto;
  height: auto;
  width: 90%;
}

.home-logo svg {
  height: auto;
  width: 100%;
}

svg {
  display: block;
}

/*---------------------------*\
  Team Page
\*---------------------------*/
.team-container {
  display: flex;
  flex-wrap: wrap;
}

.team-container .team-member-container .member-image-container {
  width: 100%;
  position: relative;
  flex-shrink: 1;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-container .team-member-container .member-image-container .member-image {
  width: 100%;
  height: 0;
  padding-bottom: calc(100% - 4px);
  border: 2px solid #001b2f;
  border-radius: 50%;
  flex-shrink: 0;
}

.team-container .team-member-container .member-image-container .member-info {
  text-align: center;
  padding: 10px 0;
}

.team-container .team-member-container .member-image-container .member-info h3 {
  margin: 0;
  font-size: 1rem;
}

.team-container .team-member-container .member-image-container .member-info span {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: .65rem;
  font-weight: 300;
  margin-top: 5px;
  display: block;
}

#team-secondary-container {
  margin-top: 20px;
}

#team-secondary-container .team-member-container {
  width: 50%;
  max-width: 200px;
  padding: 0 10px;
  margin-bottom: 20px;
}

#team-secondary-container .team-member-container .member-image-container .member-info .member-name {
  font-size: 1rem;
}

#team-primary-container {
  margin-top: 30px;
}

#team-primary-container .team-member-container {
  width: 50%;
  max-width: 300px;
  padding: 0 10px;
  margin-bottom: 15px;
}

#team-primary-container .team-member-container .member-image-container .member-info .member-name {
  font-size: 1rem;
}

/*---------------------------*\
  About
\*---------------------------*/
.fp-controlArrow {
  width: auto !important;
  height: auto !important;
  font-size: 1.4em;
  border: none !important;
  position: relative !important;
  top: auto !important;
}

.fp-controlArrow.fp-next:after {
  content: ' >';
}

.fp-controlArrow.fb-prev:before {
  content: '<';
}

.next-page-down {
  text-align: center;
}

.next-page-down .next-page-button-container {
  display: inline-block;
}

.next-page-down .next-page-button-container .next-page-button {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.next-page-down span {
  font-size: 1.3em;
  position: relative;
}

.next-page-down .next-page-arrow {
  margin: 0 auto;
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 8px;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*---------------------------*\
  Contact
\*---------------------------*/
#section-contact {
  position: relative;
}

#section-contact input {
  height: 40px;
  border-radius: 0;
  border: 2px solid #3c3c3c;
  -webkit-transition: transform 0.2s linear;
  -moz-transition: transform 0.2s linear;
  -ms-transition: transform 0.2s linear;
  -o-transition: transform 0.2s linear;
  transition: transform 0.2s linear;
}

#section-contact input:focus {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

#section-contact textarea {
  border-radius: 0;
  border: 2px solid #3c3c3c;
  -webkit-transition: transform 0.2s linear;
  -moz-transition: transform 0.2s linear;
  -ms-transition: transform 0.2s linear;
  -o-transition: transform 0.2s linear;
  transition: transform 0.2s linear;
}

#section-contact textarea:focus {
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  -ms-transform: scale(1.01);
  -o-transform: scale(1.01);
  transform: scale(1.01);
}

/*---------------------------*\
  Pages
\*---------------------------*/
#page-header {
  padding-bottom: 30px;
}

/*---------------------------*\
  Footer
\*---------------------------*/
footer.site-footer {
  display: none;
  position: fixed;
  width: 100%;
  padding: .75em 1em;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: 9;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
  pointer-events: none;
}

footer.site-footer #footer-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
}

footer.site-footer #footer-wrapper #contact-info {
  display: flex;
  font-weight: 500;
  pointer-events: auto;
  flex-direction: column;
  position: relative;
}

footer.site-footer #footer-wrapper #contact-info #connect-icons {
  text-align: center;
}

footer.site-footer #footer-wrapper #contact-info #connect-icons #live-chat-button {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 100%;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
  transform: translateY(10px);
  opacity: 0;
  display: block;
  padding-bottom: 8px;
}

footer.site-footer #footer-wrapper #contact-info #connect-icons #live-chat-button a {
  display: inline-flex;
}

footer.site-footer #footer-wrapper #contact-info #connect-icons #live-chat-button .live-chat-icon {
  width: 36px;
  height: auto;
  padding: 8px 5px;
  border-right: 1px solid white;
  background-color: #001b2f;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer.site-footer #footer-wrapper #contact-info #connect-icons #live-chat-button .live-chat-icon svg {
  width: 80%;
  height: auto;
}

footer.site-footer #footer-wrapper #contact-info #connect-icons #live-chat-button span {
  display: flex;
  align-items: center;
  padding: 0 10px;
  background-color: #001b2f;
  color: white;
  font-size: .8em;
}

footer.site-footer #footer-wrapper #contact-info #connect-icons .connect-icons-row {
  display: flex;
}

footer.site-footer #footer-wrapper #contact-info #connect-icons .connect-button {
  margin: 6px 8px 8px;
  opacity: 0;
}

footer.site-footer #footer-wrapper #contact-info #connect-icons .connect-button a {
  font-size: .7rem;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #001b2f;
  padding: 4px 7px 3px;
  color: white;
  letter-spacing: 2px;
}

footer.site-footer #footer-wrapper #contact-info #connect-icons .connect-button:nth-child(2) a {
  background-color: white;
  border: 1px solid #001b2f;
  color: #001b2f;
}

footer.site-footer #footer-wrapper #contact-info #connect-icons a {
  color: #001b2f;
}

footer.site-footer #footer-wrapper #contact-info #connect-icons #live-chat-button {
  color: #001b2f;
}

footer.site-footer #footer-wrapper #contact-info .row-1 {
  display: flex;
  justify-content: center;
}

footer.site-footer #footer-wrapper #contact-info .row-1 .social-icons {
  display: flex;
  align-items: center;
}

footer.site-footer #footer-wrapper #contact-info .row-1 .social-icons .social-icon {
  margin: 0 4px;
  opacity: 0;
}

footer.site-footer #footer-wrapper #contact-info .row-1 .social-icons .social-icon a {
  display: block;
  overflow: visible;
  -webkit-transition: transform 0.2s ease-in-out;
  -moz-transition: transform 0.2s ease-in-out;
  -ms-transition: transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
}

footer.site-footer #footer-wrapper #contact-info .row-1 .social-icons .social-icon a:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

footer.site-footer #footer-wrapper #contact-info .row-1 .social-icons .social-icon a {
  display: flex;
  align-items: center;
}

footer.site-footer #footer-wrapper #contact-info .connect-flower-toggle {
  color: #001b2f;
  text-transform: uppercase;
  margin: 0 10px;
  letter-spacing: 4px;
  font-weight: 300;
  font-size: .9rem;
}

footer.site-footer #footer-wrapper #contact-info:hover .social-icons .social-icon {
  animation-name: bounceIn;
  animation-duration: 450ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

footer.site-footer #footer-wrapper #contact-info:hover .social-icons .social-icon.social-icon-2 {
  -webkit-animation-delay: 0.15s;
  -moz-animation-delay: 0.15s;
  -ms-animation-delay: 0.15s;
  -o-animation-delay: 0.15s;
  animation-delay: 0.15s;
}

footer.site-footer #footer-wrapper #contact-info:hover .social-icons .social-icon.social-icon-3 {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -ms-animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

footer.site-footer #footer-wrapper #contact-info:hover #connect-icons .connect-button {
  animation-name: bounceInSlow;
  animation-duration: 350ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -ms-animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

footer.site-footer #footer-wrapper #contact-info:hover #connect-icons .connect-button:nth-child(2) {
  -webkit-animation-delay: 0.15s;
  -moz-animation-delay: 0.15s;
  -ms-animation-delay: 0.15s;
  -o-animation-delay: 0.15s;
  animation-delay: 0.15s;
}

footer.site-footer #footer-wrapper #contact-info:hover #connect-icons #live-chat-button {
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  -ms-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}

footer.site-footer h2 {
  margin: 0;
  line-height: 1em;
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -ms-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

footer.site-footer .footer-gradient {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+61,ffffff+100&0+0,0.68+53,1+100 */
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.68) 53%, rgba(255, 255, 255, 0.73) 61%, white 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.68) 53%, rgba(255, 255, 255, 0.73) 61%, white 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.68) 53%, rgba(255, 255, 255, 0.73) 61%, white 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
  /* IE6-9 */
}

/*---------------------------*\
  Popup
\*---------------------------*/
#popup-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

#popup-container #popup-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#popup-container #popup-wrapper #popup-content {
  width: 90%;
  height: auto;
  max-width: 900px;
  min-width: 300px;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  position: relative;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  opacity: 0;
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  -o-transform: translateY(-30px);
  transform: translateY(-30px);
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -ms-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

#popup-container #popup-wrapper #popup-content #close-popup {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 20px;
  right: 20px;
  display: block;
}

#popup-container #popup-wrapper #popup-content #close-popup::after, #popup-container #popup-wrapper #popup-content #close-popup::before {
  content: '';
  width: 100%;
  height: 2px;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 0;
}

#popup-container #popup-wrapper #popup-content #close-popup::before {
  -webkit-transform: translateY(-50%) rotate(-45deg);
  -moz-transform: translateY(-50%) rotate(-45deg);
  -ms-transform: translateY(-50%) rotate(-45deg);
  -o-transform: translateY(-50%) rotate(-45deg);
  transform: translateY(-50%) rotate(-45deg);
}

#popup-container #popup-wrapper #popup-content #close-popup::after {
  -webkit-transform: translateY(-50%) rotate(45deg);
  -moz-transform: translateY(-50%) rotate(45deg);
  -ms-transform: translateY(-50%) rotate(45deg);
  -o-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
}

#popup-container #popup-wrapper #popup-content #popup-image {
  width: 40%;
  display: none;
}

#popup-container #popup-wrapper #popup-content #popup-image img {
  width: 100%;
  height: auto;
  display: block;
}

#popup-container #popup-wrapper #popup-content #popup-signup {
  padding: 2em 2em;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#popup-container #popup-wrapper #popup-content #popup-signup h1 span {
  position: relative;
}

#popup-container #popup-wrapper #popup-content #popup-signup h1 {
  font-size: 2.2em;
  position: relative;
  margin: 0;
}

#popup-container #popup-wrapper #popup-content #popup-signup h1::after {
  content: '';
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #b4b4b4;
}

#popup-container #popup-wrapper #popup-content #popup-signup form {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  width: 100%;
}

#popup-container #popup-wrapper #popup-content #popup-signup form .jw-submit-wrapper {
  position: relative;
}

#popup-container #popup-wrapper #popup-content #popup-signup form .jw-submit-wrapper .jw-submit-loader {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

#popup-container #popup-wrapper #popup-content #popup-signup form .jw-submit-wrapper .jw-submit-loader .lds-default {
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5);
}

#popup-container #popup-wrapper #popup-content #popup-signup form .jw-submit-wrapper .jw-submit-loader .lds-default div {
  background: white;
}

#popup-container #popup-wrapper #popup-content #popup-signup form input[type="email"] {
  padding: 7px 10px;
  border: 1px solid black;
  border-radius: 0;
  width: 100%;
}

#popup-container #popup-wrapper #popup-content #popup-signup form input[type="email"]:focus {
  outline: none;
}

#popup-container #popup-wrapper #popup-content #popup-signup form input[type="email"].error {
  outline: 2px solid red;
}

#popup-container #popup-wrapper #popup-content #popup-signup form input[type="submit"] {
  border: none;
  outline: none;
  color: white;
  background-color: black;
  border-radius: 0;
  -webkit-appearance: none;
  font-weight: 300;
  padding: 15px 20px;
  width: 100%;
  font-size: 1em;
  height: 100%;
  margin-top: 8px;
  cursor: pointer;
}

#popup-container.loading input[type="submit"] {
  color: black !important;
}

#popup-container.loading .jw-submit-loader {
  opacity: 1 !important;
}

body.signup-active #popup-container {
  opacity: 1;
  pointer-events: auto;
}

body.signup-active #popup-container #popup-wrapper #popup-content {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

/*---------------------------*\
  Loaded
\*---------------------------*/
body.loaded .site-footer {
  -webkit-transition-delay: 5.5s;
  -moz-transition-delay: 5.5s;
  -ms-transition-delay: 5.5s;
  -o-transition-delay: 5.5s;
  transition-delay: 5.5s;
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

/*---------------------------*\
  Admin bar styles
\*---------------------------*/
.admin-bar .site-header {
  padding-top: 3em;
}

.admin-bar .menu-overlay .menu-container {
  padding-top: 90px;
}

.admin-bar .menu-toggle {
  top: 50px;
}

#circles-backgroud {
  width: 75vh;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  overflow: visible;
  z-index: -1;
  opacity: .3;
}

#circles-backgroud #circles-content {
  position: absolute;
  width: 200%;
  height: auto;
  left: 0;
  top: 0;
  animation: rotateScale 100s infinite;
  animation-timing-function: linear;
}

#circles-backgroud .circle-line-1 {
  animation: rotateScale 100s infinite;
  animation-timing-function: linear;
  transform-origin: center center;
  animation-fill-mode: backwards;
}

#circles-backgroud .circle-line-2 {
  animation: rotateScale 100s infinite;
  animation-timing-function: linear;
  transform-origin: 55% 55%;
}

#circles-backgroud .circle-square {
  animation: rotateScale 100s infinite;
  animation-timing-function: linear;
  animation-fill-mode: backwards;
  transform-origin: 45% 45%;
}

@media only screen and (min-width: 31em) {
  .site-header .header-logo-container {
    width: 130px;
  }
  #language-toggle {
    right: 8px;
    top: 17px;
  }
  #language-toggle .qtranxs_flag_and_text {
    width: 30px;
    height: 30px;
  }
  .section .section-wrapper {
    width: 80%;
  }
  .section .section-wrapper:not(.fullscreen) {
    padding: 130px 0 80px;
  }
  .section.fullscreen .fp-tableCell .section-wrapper {
    width: 100%;
    height: 100vh;
  }
  .financial-page-container {
    flex-direction: row;
  }
  .financial-page-container .proxy-section {
    width: 50%;
    height: 100%;
  }
  .financial-page-container .proxy-section .proxy-section-content .proxy-section-logo {
    display: block;
  }
  .team-container .team-member-container .member-image-container .member-info {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: rgba(17, 53, 89, 0.8);
    color: white;
    padding: 10px;
    opacity: 0;
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -ms-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
  }
  .team-container .team-member-container .member-image-container .member-info h3 {
    margin: 0;
    opacity: 0;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -ms-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s;
  }
  .team-container .team-member-container .member-image-container .member-info span {
    opacity: 0;
    -webkit-transform: translateY(15px);
    -moz-transform: translateY(15px);
    -ms-transform: translateY(15px);
    -o-transform: translateY(15px);
    transform: translateY(15px);
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -ms-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s;
  }
  .team-container .team-member-container:hover .member-info {
    opacity: 1;
  }
  .team-container .team-member-container:hover .member-info h3 {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
  .team-container .team-member-container:hover .member-info span {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@media only screen and (min-width: 43em) {
  #team-primary-container.team-container {
    flex-wrap: nowrap;
  }
  #team-secondary-container.team-container .team-member-container {
    width: calc(100%/3);
  }
}

@media only screen and (min-width: 48em) {
  .site-header {
    padding: 20px;
  }
  .site-header #header-content {
    background-color: transparent;
    padding: 0;
    justify-content: flex-end;
  }
  .site-header #header-content .mobile-logo {
    display: none;
  }
  .site-header #header-contact-info {
    display: none !important;
  }
  #language-toggle {
    right: 20px;
    top: 25px;
  }
  .menu-toggle {
    top: 30px;
    left: 30px;
  }
  body.menu-active .menu-toggle-line::before, body.menu-active .menu-toggle-line::after {
    background-color: white;
  }
  /*---------------------------*\
    Home > 48em
  \*---------------------------*/
  .home-logo {
    height: 60vh;
    width: auto;
  }
  .home-logo svg {
    height: 100%;
    width: auto;
  }
  .home-subtitle {
    font-size: 1.8em;
  }
  /*---------------------------*\
    Fullpage > 48em
  \*---------------------------*/
  #fullpage .section {
    padding-top: 0;
  }
  .section {
    padding-top: 0;
  }
  .section .section-wrapper {
    width: 70%;
  }
  .section#section-the-team .section-wrapper {
    width: 80%;
    max-width: 960px;
  }
  .section.fullscreen .fp-tableCell .section-wrapper {
    max-width: 100%;
    width: 100%;
    height: 100vh;
  }
  .financial-page-container .proxy-section .proxy-section-content .proxy-section-logo {
    left: calc(50% - 140px);
    width: 280px;
  }
  /*---------------------------*\
    Background > 48em
  \*---------------------------*/
  #popup-container #popup-wrapper #popup-content #popup-signup {
    width: 60%;
    padding: 2em 3em 2em;
  }
  #popup-container #popup-wrapper #popup-content #popup-signup form input[type="submit"] {
    margin-left: 8px;
  }
  #popup-container #popup-wrapper #popup-content #popup-image {
    display: block;
  }
  footer.site-footer {
    display: block;
  }
}

@media only screen and (min-width: 48em) and (orientation: portrait) {
  .section .section-wrapper {
    width: 75%;
  }
  .section .section-wrapper h1 {
    font-size: 4em;
    left: -2rem;
  }
}
